<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bucket0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-4}</string>
                <key>spriteSize</key>
                <string>{82,108}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{709,337},{82,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-7}</string>
                <key>spriteSize</key>
                <string>{90,102}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{915,1},{90,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-8}</string>
                <key>spriteSize</key>
                <string>{110,98}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{529,113},{110,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bucket0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-5}</string>
                <key>spriteSize</key>
                <string>{94,104}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{723,1},{94,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-3}</string>
                <key>spriteSize</key>
                <string>{84,108}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{623,337},{84,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{98,102}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{911,211},{98,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{114,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{427,119},{114,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bucket0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-5}</string>
                <key>spriteSize</key>
                <string>{94,104}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{819,1},{94,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{823,205},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-9}</string>
                <key>spriteSize</key>
                <string>{88,96}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{823,107},{88,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-7}</string>
                <key>spriteSize</key>
                <string>{80,102}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{793,391},{80,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bucket0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{619,225},{110,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bucket0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,11}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{631,1},{108,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bucket0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,5}</string>
                <key>spriteSize</key>
                <string>{100,104}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{721,111},{100,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-8}</string>
                <key>spriteSize</key>
                <string>{82,96}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{811,307},{82,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bucket0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-8}</string>
                <key>spriteSize</key>
                <string>{84,100}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{909,315},{84,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bucket0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{100,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{529,1},{100,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,114}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{407,237},{100,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{94,106}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{715,225},{94,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-4}</string>
                <key>spriteSize</key>
                <string>{88,104}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{915,105},{88,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{86,116}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{339,119},{86,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,2}</string>
                <key>spriteSize</key>
                <string>{88,116}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{317,237},{88,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{106,118}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{1,241},{106,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{96,114}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{431,1},{96,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{98,118}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{1,361},{98,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{207,237},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-1}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{201,361},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{112,118}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{112,114}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{319,355},{112,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{114,116}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{115,1},{114,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{108,116}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{229,119},{108,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-4}</string>
                <key>spriteSize</key>
                <string>{118,112}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{1,121},{118,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bucket0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-2}</string>
                <key>spriteSize</key>
                <string>{112,116}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{115,119},{112,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{108,112}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{509,235},{108,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{92,112}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{529,349},{92,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{90,110}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{629,113},{90,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,1}</string>
                <key>spriteSize</key>
                <string>{98,118}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{101,361},{98,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{100,116}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{231,1},{100,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{96,116}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{333,1},{96,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,118}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{109,241},{96,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bucket0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{94,114}</string>
                <key>spriteSourceSize</key>
                <string>{140,128}</string>
                <key>textureRect</key>
                <string>{{433,353},{94,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bucket.png</string>
            <key>size</key>
            <string>{1010,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c060c5660ac3bac13738ea844e21107:8be21efeba6197d614478eeb7ebb5264:7fffc1ea2bdbe3bccd0ebc0576f4eeba$</string>
            <key>textureFileName</key>
            <string>bucket.png</string>
        </dict>
    </dict>
</plist>
